{% extends "base.html" %}

{% block content %}
<form method="POST" action={{ form.action }}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"></input>
</form>
<script>

function format_update(title, url, time){
  return "<li>"
        +"<a href="+url+"><h5>"+ title +"</h5></a>"
        +"<p>Updated at: "+time+"</p>"
        +"</li>"
}

$(document).ready(function() {
function poll_answers() {
  if (updating_answers) {return}
  updating_answers = true
  $.ajax({
   type: "GET",
   url: "{% url answer_recent %}",
   data: "timestamp="+timestamp_answers,
   success: function(json){
      var d = new Date();
      timestamp_questions = (d.getTime()-d.getMilliseconds())/1000;
      updating_answers = false;
      
      $.each(json, function(i, item) {
        var html = format_update(item.answer, item.url, item.updated_on);
        $('ul.recent li:first-child').before(html);
        $("ul.recent:empty").append(html);   
     });​
   },
   error: function(e){
      updating_answers = false;   
   }
 });
}

function poll_questions() {
  if (updating_questions) {return}
  updating_questions = true
  $.ajax({
   type: "GET",
   url: "{% url question_recent %}",
   data: "timestamp="+timestamp_questions,
   success: function(json){
      var d = new Date();
      timestamp_answers = (d.getTime()-d.getMilliseconds())/1000;
      updating_questions = false;
      
      $.each(json, function(i, item) {
        var html = format_update(item.question, item.url, item.updated_on);
        $('ul.recent li:first-child').before(html);
        $("ul.recent:empty").append(html);   
     });​
   },
   error: function(e){
      updating_questions = false;   
   }
 });
}
  var updating_answers = false;
  var updating_questions = false;
  var timestamp_answers = 0;
  var timestamp_questions = 0;
  var update_interval = 10000;
  
  poll_answers();
  poll_questions();

  setInterval(poll_answers, update_interval);
  setInterval(poll_questions, update_interval);
});
</script>
<ul class="recent"></ul>
{% endblock %}