{% extends "base.html" %}

{% block content %}
<h2>{{ question.question }}</h2>
<h3>Posted By: {{ question.posted_by|default:"Anonymous" }}, Posted On: {{ question.posted_on }}</h3>


<form method="POST" action={{ form.action }}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"></input>
</form>

<script type="text/javascript">
$(document).ready(function()
{
    function rating_comparator(a,b) {
        return $(a).find(".rating").text() > $(b).find(".rating").text() ? -1 : 1;
    }
    
    $('.answer_block').sortElements(rating_comparator);

    $(".answer_block .like").click(function()
    {
        var id=$(this).attr("id");
        var name=$(this).attr("name");
        var dataString = 'id='+ id + '&name='+ name + '&redirect={{ request.path }}';
        var $button = $(this);
        
        $.ajax
        ({
            type: "POST",
            url: "{% url answer_rating %}",
            data: dataString,
            cache: false,
            success: function(json)
            {
                $button.siblings(".rating").text(json['rating']);
                $('.answer_block').sortElements(rating_comparator);
            }
        });
    });

});
</script>

<div id="answers">
{% for answer in question.answers.all %}
    <a name="{{ answer.pk }}">
        <div class="answer_block">
            <div class="rating_block">
                <a href="#" class="like" id="{{ answer.pk }}" name="up">Like</a>
                <p class="rating">{{ answer.rating }}</p>
                <a href="#" class="like" id="{{ answer.pk }}" name="down">Dislike</a>
            </div>
            <div class="answer">
            <h3>Posted By: {{ answer.posted_by|default:"Anonymous" }}, Posted On: {{ answer.posted_on }}</h3>
            <p>{{ answer.answer }}</p>
            </div>
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}

