{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
$(document).ready(function()
{
    function rating_comparator(a,b) {
        return $(a).find(".rating").text() > $(b).find(".rating").text() ? -1 : 1;
    }
    
    $('.answer_block').sortElements(rating_comparator);

    $(".answer_block .like").click(function()
    {
        var id=$(this).attr("id");
        var name=$(this).attr("name");
        var dataString = 'id='+ id + '&name='+ name + '&redirect={{ request.path }}';
        var $button = $(this);
        
        $.ajax
        ({
            type: "POST",
            url: "{% url answer_rating %}",
            data: dataString,
            cache: false,
            success: function(json)
            {
                $button.siblings(".rating").text(json['rating']);
                $('.answer_block').sortElements(rating_comparator);
            }
        });
    });

});
</script>

<div class="post">
    <div class="right">
	<h2>{{ question.question }}</h2>
    </div>
    
    <div class="left">

	    <p class="dateinfo">{{ question.posted_on|date:"M" }}<span>{{ question.posted_on|date:"d" }}</span></p>

	    <div class="post-meta">
		    <h4>Post Info</h4>
		    <ul>
		       <li class="user">{{ question.posted_by|default:"Anonymous" }}</li>
		       <li class="time">{{ question.posted_on|date:"P" }}</li>
		       <li class="permalink"><a href="{{ question.get_absolute_url }}">Permalink</a></li>
		    </ul>
	    </div>

	</div>
</div>

<div id="answers">
{% for answer in question.answers.all %}
        <div class="post answer_block">
	    <div class="right">
		<p>{{ answer.answer }}</p>
		<p class="post-info">Posted By {{ answer.posted_by }}, Posted On {{ answer.posted_on }} <a href="{{ answer.get_absolute_url }}">Permalink</a></p>
            </div>
            <div class="left">
                <a href="#" class="like" id="{{ answer.pk }}" name="up">Like</a>
                <p class="rating">{{ answer.rating }}</p>
                <a href="#" class="like" id="{{ answer.pk }}" name="down">Dislike</a>
            </div>
        </div>
    
{% endfor %}
</div>

<form method="POST" action={{ form.action }}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"></input>
</form>
{% endblock %}

