<head>
{% block head %}
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ajaxSend(function(event, xhr, settings) {
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	function sameOrigin(url) {
	    // url could be relative or scheme relative or absolute
	    var host = document.location.host; // host + port
	    var protocol = document.location.protocol;
	    var sr_origin = '//' + host;
	    var origin = protocol + sr_origin;
	    // Allow absolute or scheme relative URLs to same origin
	    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		// or any other URL that isn't scheme relative or absolute i.e relative.
		!(/^(\/\/|http:|https:).*/.test(url));
	}
	function safeMethod(method) {
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
    
	if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
	    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	}
    });	
    </script>
    <script>
    jQuery.fn.sortElements = (function(){
    
	var sort = [].sort;
     
	return function(comparator, getSortable) {
     
	    getSortable = getSortable || function(){return this;};
     
	    var placements = this.map(function(){
     
		var sortElement = getSortable.call(this),
		    parentNode = sortElement.parentNode,
     
		    // Since the element itself will change position, we have
		    // to have some way of storing its original position in
		    // the DOM. The easiest way is to have a 'flag' node:
		    nextSibling = parentNode.insertBefore(
			document.createTextNode(''),
			sortElement.nextSibling
		    );
     
		return function() {
     
		    if (parentNode === this) {
			throw new Error(
			    "You can't sort elements if any one is a descendant of another."
			);
		    }
     
		    // Insert before flag:
		    parentNode.insertBefore(this, nextSibling);
		    // Remove flag:
		    parentNode.removeChild(nextSibling);
     
		};
     
	    });
     
	    return sort.call(this, comparator).each(function(i){
		placements[i].call(getSortable.call(this));
	    });
     
	};
     
    })();    
    </script>
{% endblock %}
</head>

<body>
{% block body %}
{% block content %}
{% endblock %}
{% endblock %}
</body>