<head>

</head>

<body>
</body>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>NextLeap - Problem 3: QandA</title>
{% block head %}
	{% block js %}
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery.sortElements.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.CSRF.js"></script>
	{% endblock %}
	{% block extrajs %}{% endblock %}
	{% block css %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/screen.css" />
	{% block extracss %}{% endblock %}
	{% endblock %}
{% endblock %}
</head>

<body>
{% block body %}
<!--header -->
<div id="header-wrap"><div id="header">

	<a name="top"></a>

	<h1 id="logo-text"><a href="/" title="">QandA</a></h1>
	<p id="slogan">Just Another Q & A Website... </p>

	<div  id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="">All Questions</a></li>
			<li><a href="">Problem Statement</a></li>
		</ul>
	</div>

   <p id="rss">
      <a href="index.html">Grab the RSS feed</a>
   </p>


<!--/header-->
</div></div>
	
<!-- content-outer -->
<div id="content-wrap" class="clear" >

	<!-- content -->
   <div id="content">

   	<!-- main -->
	   <div id="main">
		{% block content %}

	        <!-- /main -->
		{% endblock %}
	</div>

    <!-- content -->
	</div>

<!-- /content-out -->
</div>
		
<!-- footer-outer -->
<div id="footer-outer" class="clear"><div id="footer-wrap">
	 <div class="col-a">
		<h3>Project Info</h3>

		<p>
		<strong>Problem No: </strong>3<br/>
		</p>

		<p><strong>Code: </strong><a href="https://github.com/azizmb/NL-Assignments">Github</a></p>
	</div>

   <div class="col-a">

      <h3>Credits</h3>

      <div class="footer-list">
			<ul>
				<li>
				<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
				</li>
				<li><a href="http://jasonlarose.com/blog/110-free-classy-social-media-icons">
						110 Free Classy Social Media Icons by Jason LaRose
				    </a>
				</li>
            <li><a href="http://wefunction.com/2009/05/free-social-icons-app-icons/">
						Free Social Media Icons by WeFunction
				    </a>
				</li>
            <li><a href="http://www.famfamfam.com/lab/icons/">
						Free Icons by FAMFAMFAM
				    </a>
				</li>
			</ul>
		</div>

   </div>

   <div class="col-b">
<h3>Updates</h3>

      <ul class="subscribe-stuff">
      	<li><a title="RSS" href="index.html" rel="nofollow">
				<img alt="RSS" title="RSS" src="{{ MEDIA_URL }}images//social_rss.png" /></a>
			</li>
      </ul>

	<p>Stay up to date. Subscribe via
		<a href="index">RSS</a>.
	</p>

	</div>

<!-- /footer-outer -->
</div></div>
{% endblock %}
</body>
</html>
